ArabicDialectN8n.json
{
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "9b33ec46-8772-4bfb-a448-fea5a673bbaa",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1936,
        880
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "8cdd7ba8-c998-4ea7-b861-8dcaf12febfe",
      "name": "Get Voice",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1008,
        480
      ],
      "webhookId": "1962cd81-9991-4199-a78a-2250bf29631a",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "kHULmQpBotQ2sAgT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0a236099-525e-4748-a57d-8b8e2c63c48b",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "24b7e8b8-6fce-4ddc-94b6-30b852891995",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{  $json.message.voice.file_id }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "id": "7fa34d0e-5215-44e5-b1d3-1e8abb5771ae",
      "name": "Text Or Voice",
      "type": "n8n-nodes-base.switch",
      "position": [
        800,
        240
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }},{{ $json.country }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a personal assistant that helps the user fulfill their requests. Your tone must be warm, helpful, and you must respond **exclusively in the same Arabic dialect as the user’s input**.\n\nWhen the user asks you to perform a task using today’s date or time, use the following current date and time: {{$now}}\n\n## Dialect Control\nYou will be **provided with the country of the dialect** beforehand.\nYou must:\n- Fully adopt the vocabulary, slang, expressions, spelling, tone, and sentence structure of that specific country’s dialect.\n- Never mix dialects or switch to another regional style.\n- If the user writes in a neutral or MSA tone, YOU must still respond using the dialect of the **provided country**.\n\n## Output Rules\n- Output only the final result — no links.\n- If you insert or modify something, simply mention where it was added.\n\n"
        }
      },
      "id": "587adf8a-2e69-4078-a603-84f0322207cb",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1968,
        512
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "id": "2455c7cb-f341-4891-9096-dc62116298c0",
      "name": "Typing Action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        800,
        64
      ],
      "webhookId": "2479f7f8-6d54-4d45-921e-af6dcfae768e",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "kHULmQpBotQ2sAgT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').first().json.message.chat.id}}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "8c2b6195-6101-4652-848c-505d13a3c1d2",
      "name": "Send Response To Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2576,
        512
      ],
      "webhookId": "76e4b8a4-1086-4d24-b60e-b96942d83bdf",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "kHULmQpBotQ2sAgT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "590b803f-833c-4854-bde7-5241d25b2b32",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            },
            {
              "id": "303e0b5d-3d37-48fc-bbd3-ce62dbe7ef78",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8fd047d-8575-484e-939a-46064b81d035",
      "name": "Send Context To AI Agent",
      "type": "n8n-nodes-base.set",
      "position": [
        1488,
        192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4634fef2-6852-4217-9f4c-12070c8bfada",
              "name": "message.text",
              "value": "={{ $json.content.parts[0].text }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f7e90526-08a5-4a59-956f-d39e6ff472f0",
      "name": "Send Transcribe Context To AI Agent",
      "type": "n8n-nodes-base.set",
      "position": [
        1456,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1808,
        864
      ],
      "id": "5897bb5c-5317-49b8-b663-e34e6dc53206",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tt4zxLzXd7NNwyIc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "*"
        ],
        "additionalFields": {}
      },
      "id": "a33e3f45-f16e-4107-937e-0ce1d230060f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        368,
        240
      ],
      "webhookId": "912e007f-19d9-4b5a-a90e-12ba01c9978d",
      "typeVersion": 1.2,
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "kHULmQpBotQ2sAgT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1232,
        480
      ],
      "id": "0d40f8ca-722d-4e84-8bcf-f408d99e7b41",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "tt4zxLzXd7NNwyIc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GRQnjkh2o1AbWV8l",
          "mode": "list",
          "cachedResultUrl": "/workflow/GRQnjkh2o1AbWV8l",
          "cachedResultName": "Dialect Region + Country Ensemble"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1776,
        368
      ],
      "id": "58e24626-0735-4959-82e1-6075436cee5b",
      "name": "Select Region and Country"
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Get Voice": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Or Voice": {
      "main": [
        [
          {
            "node": "Send Context To AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Response To Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typing Action": {
      "main": [
        []
      ]
    },
    "Send Context To AI Agent": {
      "main": [
        [
          {
            "node": "Select Region and Country",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Transcribe Context To AI Agent": {
      "main": [
        [
          {
            "node": "Select Region and Country",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Typing Action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text Or Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Send Transcribe Context To AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Region and Country": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateId": "4696",
    "templateCredsSetupCompleted": true,
    "instanceId": "f93adcdc695e0d1bd8bcfad8dff32f949d7d27d1710a524cc1bb48e62d4b27a7"
  }
}
